{% extends 'base.html.twig' %}

{% set titleText = businessPartner is not null ? "Account list for " ~ businessPartner : "Account list" %}

{% block title %}{{ titleText }}{% endblock %}

{% block body %}
    <h1>{{ titleText }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Balance</th>
                <th>Currency</th>
                <th>Business partner</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.id }}</td>
                    <td>{{ account.balance }}</td>
                    <td>{{ account.currency.value }}</td>
                    <td><a href="{{ path('app_business_partner_show', {'id': account.businessPartner.id}) }}"
                           target="_blank">{{ account.businessPartner }}</a></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-sm btn-outline-primary"
                               href="{{ path('app_account_show', {'id': account.id}) }}">Show</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-sm btn-outline-primary" href="{{ path('app_account_new') }}">Create new</a>
{% endblock %}
