{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    <h1>Account</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ account.id }}</td>
            </tr>
            <tr>
                <th>Balance</th>
                <td>{{ account.balance }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ account.currency.value }}</td>
            </tr>
            <tr>
                <th>Business partner</th>
                <td>{{ account.businessPartner }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-sm btn-outline-secondary float-start" href="{{ path('app_account_list') }}">Back to list</a>

    <a class="btn btn-sm btn-outline-primary float-end" href="{{ path('app_account_edit', {'id': account.id}) }}">Edit</a>

    {{ include('account/_delete_form.html.twig') }}
{% endblock %}
